# Supplier User Interface

In [40]:
import pandas as pd
import pymysql
dsn_database = "********"
dsn_hostname = "*******"
dsn_port = 3306
dsn_uid = "****"
import pymysql
conn = pymysql.connect(host=dsn_hostname, port=dsn_port, user=dsn_uid, db=dsn_database, password='123321', cursorclass=pymysql.cursors.DictCursor)
cursor=conn.cursor()

In [41]:
print('Welcome to TPI price input system~  ^.^')
print('Please input general information')
person = input('Please enter you full name: ')
supplier = input('Please enter your company full name: ')
currency = input('Please input currency: ')

Welcome to TPI price input system~  ^.^
Please input general information
Please enter you full name: xiaoyu
Please enter your company full name: SAP
Please input currency: USD

In [42]:
correct = '2'
while correct != '1':
    new = '1'
    ItemList = []
    ItemPrice = []
    while new != '2':
        Number = input('Please input Item Number: ')
        Price = input('Please input Item Price: ')
        new = input('Do you want to input another item price?(Choose 1 or 2) \n1.Yes\n2.No\n')
        ItemList.append(Number)
        ItemPrice.append(Price)
        cursor.execute('''INSERT into supplier_input (SupplierName, ContactPerson, ItemNumber, Prices)
              values (%s, %s, %s, %s)''',
              (supplier, person, Number, Price))
    List = {'Item Number':ItemList, 'Item Price':ItemPrice}
    SupplierQuotes = pd.DataFrame(List)
    print('\n\n\n\nPlease review following information\n')
    print('Supplier:', supplier)
    print('Contact Person: ', person)
    print('Note: all prices are in', currency,'\nPrice list')
    print(SupplierQuotes)
    correct = input('Please choose:\n1. If it is correct, press 1 continue.\n2. Press 2 to re-input.\n')
conn.commit()

Please input Item Number: 097
Please input Item Price: 0.6
Do you want to input another item price?(Choose 1 or 2)
1.Yes
2.No
2




Please review following information

Supplier: SAP
Contact Person:  xiaoyu
Note: all prices are in USD
Price list
  Item Number Item Price
0         097        0.6
Please choose:
1. If it is correct, press 1 continue.
2. Press 2 to re-input.
1

In [43]:
if correct == '1':
    NewQuote = SupplierQuotes
    NewQuote['Supplier'] = supplier
    NewQuote['ContactPerson'] = person
    NewQuote['Currecy'] = currency

In [44]:
NewQuote

  Item Number Item Price Supplier ContactPerson Currecy
0         097        0.6      SAP        xiaoyu     USD

# ==============================================================

# TPI User Interface

In [45]:
cursor.execute("SELECT * FROM supplier_input")
rows =cursor.fetchall()
result = pd.DataFrame(list(rows))

function = input('Please input the function you want to use: \n1. View all supplier prices\n2. Check a specific supplier prices')
if function == '1':
    result_s = result[['SupplierName', 'ItemNumber', 'Prices', 'ContactPerson']]
    print(result_s)
else:
    supName = input('Please input the supplier you want to check: ')
    result_s = result.loc[result['SupplierName'] == supName]
    print(result_s[['SupplierName', 'ItemNumber', 'Prices', 'ContactPerson']])

export = input('Do you want to export the result? \Please input y for Yes, n for No.')
if export == 'y':
    writer = pd.ExcelWriter('result.xlsx')
    result_s.to_excel(writer,'result')
    writer.save()

Please input the function you want to use:
1. View all supplier prices
2. Check a specific supplier prices1
  SupplierName ItemNumber Prices  ContactPerson
0       Hexion         88   16.2    Meilin_test
1      Swancor       1123    0.9  Meilin test 2
2      Swancor       1654    9.8  Meilin test 2
3   TPI test 1       T123    1.2  Meilin test 1
4   TPI test 1       T232    9.0  Meilin test 1
5   TPI test 3       1654    9.5  Meilin test 3
6   TPI test 3       T123    1.0  Meilin test 3
7     Olin XYZ      47568   0.03           Olin
8          SAP        097    0.6         xiaoyu
Do you want to export the result? \Please input y for Yes, n for No.n