In [46]:
import pandas as pd

In [47]:
TabAndCode = pd.read_excel("Info.xlsx", sheetname = "TabAndCode")
ExampleNumber = pd.read_excel("Info.xlsx", sheetname = "ExampleNumber")
CountryCode = pd.read_excel("Info.xlsx", sheetname = "CountryCode")

In [48]:
ExampleNumber.head(10)

   ExampleNumber
0              0
1              1
2              2
3              3
4              4
5              5
6              6
7              7
8              8
9              9

In [49]:
# write 
ExampleNumber['ExampleNumberAdd'] = None
writer = pd.ExcelWriter('NE.xlsx')

for i in range(len(TabAndCode) - 1):
    code_cate = "{0:0=2d}".format(TabAndCode['ItemCode'][i])
    
    for j in range(len(ExampleNumber) - 1):
        code_ex = "{0:0=3d}".format(ExampleNumber['ExampleNumber'][j])
        ExampleNumber['ExampleNumberAdd'][j] = code_cate + "-74" + code_ex
        result = ExampleNumber['ExampleNumberAdd']
        result.to_excel(writer,TabAndCode['TabName'][i])

C:\Users\MZeng\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [50]:
writer.save()