# Supplier User Interface

In [24]:
import pandas as pd
print('Welcome to TPI data collection system~  ^.^')
print('Please input general information')
person = input('Please enter you full name: ')
supplier = input('Please enter your company full name: ')
currency = input('Please input currency: ')

Welcome to TPI data collection system~  ^.^
Please input general information
Please enter you full name: XYZ
Please enter your company full name: ABCD
Please input currency: USD

In [26]:
correct = '2'
while correct != '1':
    new = '1'
    ItemList = []
    ItemPrice = []
    while new != '2':
        Number = input('Please input Item Number: ')
        Price = input('Please input Item Price: ')
        new = input('Do you want to input another item price?(Choose 1 or 2) \n1.Yes\n2.No\n')
        ItemList.append(Number)
        ItemPrice.append(Price)
    List = {'Item Number':ItemList, 'Item Price':ItemPrice}
    SupplierQuotes = pd.DataFrame(List)
    print('\n\n\n\nPlease review following information\n')
    print('Supplier:', supplier)
    print('Contact Person: ', person)
    print('Note: all prices are in', currency,'\nPrice list')
    print(SupplierQuotes)
    correct = input('Please choose:\n1. If it is correct, press 1 continue.\n2. Press 2 to re-input.\n')

Please input Item Number: 5762
Please input Item Price: 13
Do you want to input another item price?(Choose 1 or 2)
1.Yes
2.No
1
Please input Item Number: 4245
Please input Item Price: 34
Do you want to input another item price?(Choose 1 or 2)
1.Yes
2.No
2




Please review following information

Supplier: ABCD
Contact Person:  XYZ
Note: all prices are in USD
Price list
  Item Number Item Price
0        5762         13
1        4245         34
Please choose:
1. If it is correct, press 1 continue.
2. Press 2 to re-input.
1

In [27]:
if correct == '1':
    NewQuote = SupplierQuotes
    NewQuote['Supplier'] = supplier
    NewQuote['ContactPerson'] = person
    NewQuote['Currecy'] = currency

In [28]:
NewQuote

  Item Number Item Price Supplier ContactPerson Currecy
0        5762         13     ABCD           XYZ     USD
1        4245         34     ABCD           XYZ     USD

In [1]:
dsn_database = "gscdata"
dsn_hostname = "35.192.171.175"
dsn_port = 3306
dsn_uid = "root"

import pymysql

conn = pymysql.connect(host=dsn_hostname, port=dsn_port, user=dsn_uid, db=dsn_database)
cursor=conn.cursor()
cursor.execute("SELECT * FROM Input")
rows = cursor.fetchall()

ModuleNotFoundError: No module named 'pymysql'

In [2]:
import PyMySQL

ModuleNotFoundError: No module named 'PyMySQL'